body{
    margin: 0;
    padding: 0;
}
#clock{
    font-size: 90px;
    font-weight: bold;
}
#title{
    font-size: 45px;
    font-weight: bold;
}
#text{
    font-size: 45px;
}
#left_content{
    width: 40vw;
    text-align: center;
}
.section img{
    width: 400px;
}
.section{
    width: 50vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}
#section1{
    position: fixed;
    top: 0;
    left: 0;
}
#section2{
    position: fixed;
    top: 0;
    left: 50vw;
    text-align: center;
}
.btn{
    font-size: 50px;
    height: 80px;
    width: 80px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border: solid 4px #000;
    color: #000;
    border-radius: 100px;
    transition: .5s ease;
}
.btn:hover{
    font-size: 80px;
    height: 120px;
    width: 120px;
    background-color: #000;
    border: solid 4px #000;
    color: #fff;
}
#btn_up{
    animation: up 1.5s infinite;
    margin-bottom: 20px;
}
#btn_down{
    animation: down 1.5s infinite;
    margin-top: 20px;
}
@keyframes up{
    0%{transform: translateY(12px);}
    20%{transform: translateY(0);}
    100%{transform: translateY(12px);}
}
@keyframes down{
    0%{transform: translateY(0);}
    20%{transform: translateY(12px);}
    100%{transform: translateY(0);}
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes zoomIn{
    0%{opacity: 0;font-size: 0;}
    100%{opacity: 1;font-size: 45px;}
}
@keyframes zoomOut{
    0%{opacity: 1;font-size: 45px;}
    100%{opacity: 0;font-size: 0;}
}
@keyframes big{
    0%{font-size: 90px;}
    50%{font-size: 150px;}
    100%{font-size: 120px;}
}
@keyframes small{
    0%{font-size: 120px;}
    100%{font-size: 90px;}
}